body, html {
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    width: 100%;
    height: 100%;
    /*overflow: hidden;*/
}

/** {
    box-sizing: border-box;
}*/

.wrapper {
    height: 100%;
    width: 100%;
    /*overflow: hidden;*/
    position: relative;
/*    background: url(/img/d-logo.jpg) no-repeat 50% 50%;*/
    background-size: cover;
 }


.header-flex {
    display:flex;
    justify-content: space-between;
    align-content: flex-end;
    margin-top: 3.7%;
}

.container {
    width: 89.4736%;
    margin: 0 auto;
}

/********************* УГОЛКИ ************/



.corner-header img {
    width: 26.5263%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.corner-footer {
    width: 26%;
    position: absolute;
    right: 0;
    bottom: 0;
}


/*.footer-wrap {
    display: flex;
    justify-content: space-around;
}*/


/********************* HEADER ***************/
.page-header {
    display: inline-block;

}

.logo {
    width: 10%;
}


.logo img {
    z-index: 30;
    width: 10%;
    position: absolute;
}



/****** Menu ****************/

.main-menu {
    z-index: 2; 
    display: block;
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main-menu h2 {
    font-weight: 600;
    font-size: 1.15vw;
    text-transform: uppercase;
    color: #575656;
    letter-spacing: 0.05em;
    display: inline-block;
}

.main-menu img {
    cursor: pointer;
    display: inline-block;
}



/**************** SLIDER ********************/

.slider {
    position: relative;
    /*margin-bottom: 5%;*/

}

.slider-pic {
    max-width: 100%;
    margin-top: 5%;
}


.mask-slider {
    max-width: 100%;
    position: absolute;
    bottom: 1px;
    left: 1px;
}

.mask-color {
    max-width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.slider-title-cont {
    width: 50%;
    height: 100%;
    margin: 0 auto;
}

.slider-title {
    position: absolute;
    z-index: 40;
    left: 0px;
    top: 22%;
    width: 100%;
    height: 53%;
}



.slider-title h1 {
    font-weight: 400;
    font-size: 8.5vw;
    line-height: 80%;
    letter-spacing: 0.1em;
    color: #ffffff;
    width: 100%;
    margin: 0;
    
}

.slider-title h1 span {
    font-weight: bold;
}


.slider-title p {
    display: block;
    font-weight: 400;
    font-size: 1.57vw;
    line-height: 100%;
    color: #ffffff;
    letter-spacing: 0.04em;
    text-align: left;
    width: 45%;
    margin: 0;
    float: right;
}

.slider-desc {
    text-align: right;
    width: 50%;
    margin: 0 auto;
    position: absolute;
    bottom: 0;
    right: 25%;
}

.white-row {
        width: 26%;
    height: 1px;
    background-color: #ffffff;
    transform: rotate(20deg);
    z-index: 2;
}

.white-row-bottom {
    position: relative;
    top: 16%;
    left: 28%
}

.white-row-top {
    position: relative;
    top: -70%;
    left: 40%;
}






/******************* FOOTER ***************/

.phone {
    font-size: 24px;
    font-weight: 600;
    line-height: 80%;
    color: #575656;
}

.mail {
    font-weight: 600;
    font-size: 14px;
    color: #ca3f55;
    margin: 0;
    letter-spacing: 0.06em;
    margin-top: 10px;
}

.address {
    font-weight: 600;
    font-size: 14px;
    color: #575656;
    margin: 0;
    letter-spacing: 0.02em;
    margin-bottom: 20px;
}

.copyright {
    font-weight: 400;
    font-size: 14px;
    color: #575656;
    letter-spacing: -0.01em;
}


header {
    position: absolute;
    top: 0;
    width: 100%;
}



/*main {
    position: relative;
    top: 7%;
}*/

/*footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}*/

.contacts {
    width: auto;
    /*float: left;*/
    /*margin-left: 65px;*/
}

/*.corner-footer {
    bottom: 0px;
    right: 0px;
    position: absolute;
    width: 25%;
}

.corner-footer img {
    width: 100%;
    margin-bottom: -6px;
}

.corner-header {
    width: 25%;
    float: left;
}*/